@import url( sitecommon.css );
BODY {
	BACKGROUND-COLOR: #fff
}
P {
	
}
.box {
	
}
.layout {
	
}
.layout {
	
}
.tabs {
	
}
.head {
	
}
.borderless {
	
}
.announcement {
	
}
.box {
	
}
.layout {
	
}
.tabs {
	
}
.head {
	
}
.announcement {
	
}
.box TD {
	
}
.layout TD {
	
}
.tabs TD {
	
}
.borderless TD {
	
}
TABLE.head {
	
}
.head TD {
	
}
TD.formcontainer {
	
}
.barbottom {
	
}
.barbottomdiv {
	
}
.bgdiv {
	
}
.widemargin {
	
}
A {
	BORDER-BOTTOM: #108301 1px dashed; COLOR: #108301
}
A:hover {
	BORDER-BOTTOM: #284b78 1px solid; COLOR: #284b78
}
A.nodecoration {
	
}
A.nodecoration:hover {
	
}
.tabs A {
	
}
.tabs .smalltext A {
	BORDER-BOTTOM: #108301 1px dashed
}
.tabs .smalltext A:hover {
	BORDER-BOTTOM: #284b78 1px solid
}
.tabs TBODY {
	BACKGROUND-COLOR: #f7f4ec
}
.tabs .divisor {
	BACKGROUND-COLOR: white
}
.box TBODY TD {
	BACKGROUND-COLOR: #f6f6f4; FONT-FAMILY: Georgia, "Times New Roman", serif; FONT-SIZE: 90%
}
.box THEAD TR {
	
}
.box THEAD TR TH {
	FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.box THEAD TR TD {
	FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px
}
.box THEAD A:link {
	COLOR: #ffe
}
.box THEAD A:visited {
	COLOR: #ffe
}
.box THEAD A:hover {
	COLOR: red
}
.box THEAD .container {
	
}
.box THEAD .info {
	COLOR: #bbb
}
.box THEAD .info A {
	COLOR: #bbb
}
.box THEAD .text {
	COLOR: #ffe
}
.box THEAD .shadow {
	COLOR: #18314a
}
.box THEAD .fill {
	
}
.articlePortlet TD {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 8px
}
INPUT {
	FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 12px
}
FORM {
	
}
FORM.search {
	
}
FORM.login {
	
}
FORM.search INPUT {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; COLOR: #fff
}
FORM.login INPUT {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; COLOR: #fff
}
FORM.search INPUT.focus {
	BORDER-BOTTOM: #ffdead 2px solid; BORDER-LEFT: #c07300 2px solid; BORDER-RIGHT: #ffdead 2px solid; BORDER-TOP: #c07300 2px solid
}
FORM.login INPUT.focus {
	BORDER-BOTTOM: #ffdead 2px solid; BORDER-LEFT: #c07300 2px solid; BORDER-RIGHT: #ffdead 2px solid; BORDER-TOP: #c07300 2px solid
}
FORM.search INPUT {
	
}
FORM.login INPUT {
	COLOR: #777
}
FORM.login INPUT.focus {
	COLOR: #000
}
FORM.search BUTTON {
	FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 12px
}
FORM.login BUTTON {
	FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 12px
}
.searchform SELECT {
	FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 12px
}
TD.ad {
	FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px
}
TD.ad A {
	COLOR: blue
}
TD.ad A:hover {
	COLOR: blue
}
TD.membercount {
	COLOR: #556; FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px
}
H1 {
	COLOR: #284b78; FONT-FAMILY: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 140%; FONT-WEIGHT: bold
}
H2 {
	COLOR: #284b78; FONT-FAMILY: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
H3 {
	COLOR: #284b78; FONT-FAMILY: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 80%; FONT-STYLE: italic; FONT-WEIGHT: normal
}
H6 {
	COLOR: gray; FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: normal
}
H1 A {
	COLOR: #284b78
}
H2 A {
	COLOR: #284b78
}
H1 A:hover {
	COLOR: #284b78
}
H2 A:hover {
	COLOR: #284b78
}
TABLE.list TD {
	
}
TABLE.list TR TD A {
	COLOR: #000000; FONT-FAMILY: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
TABLE.list TR TD A:hover {
	COLOR: #284b78; FONT-FAMILY: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
.iteminfo {
	COLOR: black; FONT-FAMILY: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px
}
.updated {
	BORDER-BOTTOM: 0px; COLOR: #284b78; FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px
}
A.updated {
	BORDER-BOTTOM: 0px; COLOR: #284b78; FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px
}
.quiet {
	COLOR: #7b7b7b
}
HR {
	BORDER-BOTTOM: white 1px solid; BORDER-LEFT: #e1dfcc 1px solid; BORDER-RIGHT: white 1px solid; BORDER-TOP: #e1dfcc 1px solid
}
IMG.dot {
	BACKGROUND-COLOR: #000
}
.announcement {
	
}
.announcement TD {
	BACKGROUND-COLOR: #f7f4ec; COLOR: #222; FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: normal
}
.borderless .diagrambar1 {
	BACKGROUND-COLOR: #284b78; COLOR: #fff; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px
}
.borderless .diagrambar2 {
	BACKGROUND-COLOR: #ccc49d; COLOR: #fff; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px
}
.borderless .diagrambar3 {
	BACKGROUND-COLOR: #ccc49d; COLOR: #fff; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px
}
.borderless .diagramtext1 {
	COLOR: #284b78
}
.borderless .diagramtext2 {
	COLOR: #a7a081; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px
}
.cartoonSmall {
	FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px
}
DIV.center {
	
}
TD.center {
	
}
DIV.left {
	
}
TD.left {
	
}
DIV.right {
	
}
TD.right {
	
}
.smalltext {
	COLOR: black; FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px
}
.pagenav {
	COLOR: black; FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 11px
}
.pagenav A {
	COLOR: #108301
}
.pagenav A:hover {
	COLOR: #284b78
}
TABLE.inlay {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid
}
TABLE.inlay TD {
	BACKGROUND-COLOR: white
}
.thread {
	
}
TABLE.thread TD {
	FONT-FAMILY: Georgia, "Times New Roman", serif; FONT-SIZE: 80%; FONT-WEIGHT: normal
}
.thread TH {
	FONT-FAMILY: Georgia, "Times New Roman", serif; FONT-SIZE: 80%; FONT-WEIGHT: normal
}
.thread .forumheader TD {
	
}
.thread .header TH {
	BACKGROUND-COLOR: #f6f6f4; FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.thread .header TD {
	BACKGROUND-COLOR: #f6f6f4; FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.thread TBODY TH {
	FONT-SIZE: 12px
}
.thread TBODY TD {
	FONT-SIZE: 10px
}
.thread .odd {
	BACKGROUND-COLOR: #eaeae7
}
.thread .even {
	BACKGROUND-COLOR: #f6f6f4
}
.thread TBODY TH A {
	COLOR: #000000
}
.thread TBODY TH A:hover {
	COLOR: #284b78
}
FORM.poll .row {
	
}
FORM.poll INPUT {
	
}
FORM.poll LABEL {
	
}
FORM.poll BUTTON {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; COLOR: #fff; FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 12px
}
FORM.userinput BUTTON {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; COLOR: #fff; FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 12px
}
FORM.poll BUTTON.over {
	BORDER-BOTTOM: #ffdead 1px solid; BORDER-LEFT: #c07300 1px solid; BORDER-RIGHT: #ffdead 1px solid; BORDER-TOP: #c07300 1px solid
}
FORM.userinput BUTTON.over {
	BORDER-BOTTOM: #ffdead 1px solid; BORDER-LEFT: #c07300 1px solid; BORDER-RIGHT: #ffdead 1px solid; BORDER-TOP: #c07300 1px solid
}
FORM.poll BUTTON.down {
	BORDER-BOTTOM: #ffdead 2px solid; BORDER-LEFT: #c07300 2px solid; BORDER-RIGHT: #ffdead 2px solid; BORDER-TOP: #c07300 2px solid
}
FORM.userinput BUTTON.down {
	BORDER-BOTTOM: #ffdead 2px solid; BORDER-LEFT: #c07300 2px solid; BORDER-RIGHT: #ffdead 2px solid; BORDER-TOP: #c07300 2px solid
}
FORM.generic {
	BACKGROUND-COLOR: #f0f0ea; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid
}
FORM.generic .row {
	
}
FORM.generic LABEL {
	
}
FORM.generic .value {
	
}
.portlet TBODY TD {
	BACKGROUND-COLOR: #f6f6f4; FONT-FAMILY: Georgia, "Times New Roman", serif; FONT-SIZE: 80%
}
.portlet TFOOT TD {
	BACKGROUND-COLOR: #f6f6f4; FONT-FAMILY: Georgia, "Times New Roman", serif; FONT-SIZE: 80%
}
.portlet THEAD TR {
	BACKGROUND-IMAGE: url(../images/bar_bg.gif)
}
.portlet THEAD TR TH {
	FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.portlet THEAD TR TD {
	FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 10px
}
.portlet THEAD A {
	COLOR: black
}
.portlet THEAD A:hover {
	COLOR: #3d72b7
}
.portlet THEAD A:active {
	COLOR: #555
}
.portlet THEAD .container {
	
}
.portlet THEAD .text {
	COLOR: #333
}
.portlet THEAD .shadow {
	COLOR: #edd
}
.portlet THEAD .fill {
	
}
DIV.replycontainer {
	BACKGROUND-COLOR: white; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid
}
DIV.reply {
	
}
DIV.reply .smalltext {
	COLOR: #999
}
DIV.reply A {
	COLOR: #000
}
DIV.reply A:hover {
	COLOR: #284b78
}
.hide {
	
}
#notfound TH {
	
}
.streamspeed {
	BORDER-BOTTOM: #555 1px dotted; BORDER-LEFT: #555 1px dotted; BORDER-RIGHT: #555 1px dotted; BORDER-TOP: #555 1px dotted; COLOR: #000; FONT-FAMILY: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 9px
}
.streamspeed A {
	COLOR: black
}
.message {
	COLOR: #284b78
}
.error {
	BACKGROUND-COLOR: #f6f6f4; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; COLOR: #284b78; FONT-FAMILY: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 80%; FONT-WEIGHT: bold
}
FORM.generic {
	BACKGROUND-COLOR: #f0f0ea; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid
}
FORM.generic .row {
	
}
FORM.generic LABEL {
	
}
FORM.generic .value {
	
}
.searchcomponent {
	BACKGROUND-COLOR: #fafcfe; BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; COLOR: #333; FONT-SIZE: 8pt
}
.searchcomponent TABLE TR TD {
	BACKGROUND-COLOR: #fafcfe
}
.blacklist UL A {
	COLOR: #000
}
.blacklist UL A:hover {
	COLOR: #284b78
}
.note {
	BACKGROUND-COLOR: #fafcfe; BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; COLOR: #333; FONT-SIZE: 8pt
}
.rightbar-admin-menu {
	FONT-SIZE: 65%
}
H2.black-date-header {
	COLOR: #000
}
.sidebarItem {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; COLOR: black; FONT-SIZE: smaller; PADDING-BOTTOM: 15px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.sidebarLink A {
	COLOR: black; FONT-SIZE: x-small; FONT-WEIGHT: bold; LINE-HEIGHT: 1.5
}
.ovt {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; MARGIN-TOP: 2px; POSITION: relative
}
#west2 .ovt {
	BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 1px
}
#east2 .ovt {
	BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 1px
}
.ovt .disclaimer {
	FONT-SIZE: 0.79em; font-color: gray
}
.ovt .whatsthis {
	FONT-SIZE: 0.79em; font-color: gray
}
.ovt disclaimerWhite {
	FONT-SIZE: 0.79em; font-color: gray
}
#east .ovt DIV {
	FONT-SIZE: 0.79em; font-color: gray
}
#east2 .ovt LI DIV {
	FONT-SIZE: 0.79em; font-color: gray
}
.ovt .disclaimer {
	BACKGROUND-COLOR: #f6f6f4; FONT-FAMILY: font-family: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 9px; MARGIN-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0.25em; PADDING-RIGHT: 0.25em; PADDING-TOP: 0px; POSITION: absolute; TOP: -0.6em; font-color: gray
}
.ovt .disclaimerWhite {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: font-family: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 9px; MARGIN-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0.25em; PADDING-RIGHT: 0.25em; PADDING-TOP: 0px; POSITION: absolute; TOP: -0.6em; font-color: gray
}
.ovt UL {
	MARGIN: 0.4em 0px 5px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ovt LI {
	CURSOR: hand; FONT-FAMILY: font-family: tahoma,verdana,arial,helvetica,sans-serif; FONT-SIZE: 9px; LIST-STYLE: none; MARGIN: 5px 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px; WIDTH: 100%
}
