<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <taglib>
        <taglib-uri>utiltags</taglib-uri>
        <taglib-location>/WEB-INF/lib/utiltags.jar</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>random</taglib-uri>
        <taglib-location>/WEB-INF/lib/random.jar</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>logintags</taglib-uri>
        <taglib-location>/WEB-INF/lib/login-tag.jar</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>typetags</taglib-uri>
        <taglib-location>/WEB-INF/lib/type-tag.jar</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>propertytags</taglib-uri>
        <taglib-location>/WEB-INF/lib/property-tag.jar</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>typenametags</taglib-uri>
        <taglib-location>/WEB-INF/lib/typename-tag.jar</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>classpropertytags</taglib-uri>
        <taglib-location>/WEB-INF/lib/classproperty-tag.jar</taglib-location>
    </taglib>
	<taglib>
		<taglib-uri>objecttags</taglib-uri>
		<taglib-location>/WEB-INF/lib/object-tag.jar</taglib-location>
	</taglib>
	<taglib>
	    <taglib-uri>classtags</taglib-uri>
	    <taglib-location>/WEB-INF/lib/class-tag.jar</taglib-location>
	</taglib>
    <taglib>
        <taglib-uri>propertytypetags</taglib-uri>
        <taglib-location>/WEB-INF/lib/propertytype-tag.jar</taglib-location>
    </taglib>
	<ejb-ref>
		<ejb-ref-name>ejb/PropertyType</ejb-ref-name>
		<ejb-ref-type>Entity</ejb-ref-type>
		<home>com.submersion.jspshop.ejb.PropertyTypeHome</home>
		<remote>com.submersion.jspshop.ejb.PropertyType</remote>
		<ejb-link>com.submersion.jspshop.ejb.PropertyType</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/RightSearch</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.submersion.jspshop.ejb.RightSearchHome</home>
		<remote>com.submersion.jspshop.ejb.RightSearch</remote>
		<ejb-link>com.submersion.jspshop.ejb.RightSearch</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/Class</ejb-ref-name>
		<ejb-ref-type>Entity</ejb-ref-type>
		<home>com.submersion.jspshop.ejb.ClassHome</home>
		<remote>com.submersion.jspshop.ejb.Class</remote>
		<ejb-link>com.submersion.jspshop.ejb.Class</ejb-link>		
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/Object</ejb-ref-name>
		<ejb-ref-type>Entity</ejb-ref-type>
		<home>com.submersion.jspshop.ejb.ObjectHome</home>
		<remote>com.submersion.jspshop.ejb.Object</remote>
		<ejb-link>com.submersion.jspshop.ejb.Object</ejb-link>		
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/TypeValue</ejb-ref-name>
		<ejb-ref-type>Entity</ejb-ref-type>
		<home>com.submersion.jspshop.ejb.TypeValueHome</home>
		<remote>com.submersion.jspshop.ejb.TypeValue</remote>
		<ejb-link>com.submersion.jspshop.ejb.TypeValue</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/Type</ejb-ref-name>
		<ejb-ref-type>Entity</ejb-ref-type>
		<home>com.submersion.jspshop.ejb.TypeHome</home>
		<remote>com.submersion.jspshop.ejb.Type</remote>
		<ejb-link>com.submersion.jspshop.ejb.Type</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/Property</ejb-ref-name>
		<ejb-ref-type>Entity</ejb-ref-type>
		<home>com.submersion.jspshop.ejb.PropertyHome</home>
		<remote>com.submersion.jspshop.ejb.Property</remote>
		<ejb-link>com.submersion.jspshop.ejb.Property</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ejb/Value</ejb-ref-name>
		<ejb-ref-type>Entity</ejb-ref-type>
		<home>com.submersion.jspshop.ejb.ValueHome</home>
		<remote>com.submersion.jspshop.ejb.Value</remote>
		<ejb-link>com.submersion.jspshop.ejb.Value</ejb-link>
	</ejb-ref>
</web-app>
